.logo{
    width: 35px;
    height: 35px;
    
}
.logo-name{
    top: 10px;
    padding-left: 17%;
}
.doc-pic{
    width: 380px;
    height: 420px;
    right: 130px;
    bottom: 200px;
    
}
.bac-pic{
    Width: 360px;
    Height:370px;
    top: 77px;
    left: 73px;
}
.content{
    padding-top: 100px;

}
.btt{
    background-color:#e0f5dc;
    height: 100px;
  
}
.box-2{
    margin-left:40px!important;
}
.switch{
    margin-left: 70px!important;
}
.mx-5{
    margin-left:150px!important;    
} 
.cont{
    background-color: #ffffff;
    height: 200px;
    
}
.gle{
display: inline-block;
justify-content: right !important;
}