 body{
    margin-left: auto;
}

.logo{
    width: 35px;
    height: 35px;
    
}
.logo-name{
    top: 10px;
    /* padding-left:7%; */
    width: 100%;
}
.dd{
    width: 400px;
    height: 400px;
    margin-top: 20px;
   
    
    
    
}
/* .bac-pic{
    Width: 360px;
    Height:370px;
    top: 77px;
    left: 73px;
}  */
.content{
    padding-top: 100px;

}
.btt{
    background-color:#e0f5dc;
    height: 200px;
    
  
}
.box-2{
    margin-left:40px!important;
}
.switch{
    margin-left: 70px!important;
}
.mx-5{
    margin-left:150px!important;    
} 
.cont{
    background-color: #ffffff;
    height: 200px;
    
}
/* .img1{
  right: 100px;
  width: max-content;

   
}   */
.btn-2{
    height: 55px;
    width: 150px;

}
.member-photo{
    margin-left: 25%;

    width:140px ;
    margin-top: 20px;

}
.link{
    margin-left: 20%;
    
}
.link-btn{
    height: 35px;
}
.customer-photo{
    width:100px ;
    margin-top: 20px;
    margin-left: 5%;


}
.vv{
    width: 115px;
    height: 36px;
}
.footer{
    height: 100%;
    width: 100%;
    background-color: #007E85;
}

